name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - run: dotnet build --configuration Release
      - run: dotnet publish --configuration Release --output ./publish
      - run: dotnet Kalender.dll
        working-directory: ./publish