name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [10.0.x]
    
    steps:
      - uses: actions/checkout@v5

      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: build
        run: dotnet build --configuration Release
        
      - name: publish
        run: dotnet publish --configuration Release --output ./publish
        
      - name: run
        run: dotnet Kalender.dll
        working-directory: ./publish
        
